*.qmlc
*~
.directory
__pycache__
du.log
__TRASH__

MANIFEST
build/
dist/
doc/sphinx/build/
doc/sphinx/source/api/

ImageBrowser/QtApplication/rcc/ImageBrowserRessource.py
ImageBrowser/QtApplication/rcc/image-browser.rcc

ImageBrowser/QtApplication/rcc/translations/image-browser.fr_FR.ts
*.po
*.qm

# TODO...
GPL-V3.0.txt
ImageBrowser/Common/LoremIpsum.py
ImageBrowser/ImageProcessing/
ImageBrowser/QtApplication/rcc/icons/
ImageBrowser/QtApplication/rcc/translations/
QtShim/
README.html
README.rst
README.txt
doc/
open-doc.sh
qml
rcc
