*.qmlc
*~
.directory
__pycache__
.pycache
du.log
__TRASH__

MANIFEST
build/
dist/
doc/sphinx/build/
doc/sphinx/source/api/

ImageBrowser/QtApplication/rcc/ImageBrowserRessource.py
ImageBrowser/QtApplication/rcc/image-browser.rcc

ImageBrowser/QtApplication/rcc/translations/image-browser.fr_FR.ts
*.po
*.qm

qml
rcc

pyside-setup

# TODO...
README.html
README.rst
README.txt

ImageBrowser/common/LoremIpsum.py
ImageBrowser/backend/ImageProcessing/
ImageBrowser/frontend/rcc/icons/
ImageBrowser/frontend/rcc/translations/

doc/
open-doc.sh
