*.qmlc
*~
.directory
__pycache__
.pycache
du.log
__TRASH__

nogit/

MANIFEST
build/
dist/
doc/sphinx/build/
doc/sphinx/source/api/

ImageBrowser/frontend/rcc/ImageBrowserRessource.py

ImageBrowser/QtApplication/rcc/translations/image-browser.fr_FR.ts
*.po
*.qm

qml_
rcc_

pyside-setup

# TODO...
README.html
README.rst
README.txt

ImageBrowser/common/LoremIpsum.py
ImageBrowser/backend/ImageProcessing/
ImageBrowser/frontend/rcc/icons/
ImageBrowser/frontend/rcc/translations/

doc/
open-doc.sh

resources
review.json
tasks/nogit/

image-examples/

ImageBrowser/backend/__UNUSED__/
__TMP__/

dev-tests/parallel/zmq/hatchd/.hg/
dev-tests/parallel/zmq/hatchd/.hgignore
dev-tests/parallel/zmq/hatchd/bootstrap.py
dev-tests/parallel/zmq/hatchd/buildout.cfg
dev-tests/parallel/zmq/hatchd/filesync.py
dev-tests/parallel/zmq/hatchd/setup.py
dev-tests/parallel/zmq/hatchd/wdd/__init__.py
dev-tests/parallel/zmq/hatchd/wdd/hwm_test.py

bug.md
dev-tests/parallel/Pillow/
dev-tests/parallel/ft-bugs.md
test.py

fake-images/

notes/pyside-source
notes/Qt-6.10.0
